
/*
Fix blownout layouts
*/
#__next > .container, #__next > .container-fluid {
    overflow: hidden;
}

.shiftTable {
    margin-top: 1em;
}

.roleCard {
    margin-top: 1em;
}

button:hover {
    cursor: pointer;
}

.nav-link {
    color: white !important;
}

.NavbarMain {
    background-color: #0588d8;
    width: 100%;
    height: 80px;
    display: flex;
}

.NavbarMain .leftSide {
    flex: 75%;
    display: flex;
    justify-content:  left;
    align-items: center;
}

.NavbarMain .rightSide {
    flex: 25%;
    display: flex;
    justify-content:  flex-end;
    align-items: center;
}

.NavbarMain .leftSide .links {
    max-height: 80px;
    color: white;
    font-size: 22px;
}

.NavbarMain .leftSide button {
    display: none;
   
}

.NavbarMain .leftSide #hidden {
    display: flex;
       
}

.NavbarMain .rightSide .logger {
    max-height: 80px;
    color: white;
    font-size: 22px;
}

/* !@media will reduce size of font as screen size shrinks */
@media only screen and (max-width: 850px) {
    .NavbarMain .leftSide .links {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 750px) {
    .NavbarMain .leftSide .links {
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 650px) {
    .NavbarMain .leftSide button {
        display: flex;
    }

    .NavbarMain .leftSide .links {
        display: none;
    }

    .NavbarMain .leftSide #hidden {
        position: absolute;
        left: 0px;
        top: 80px;
        max-height: 230px;
        width: 100%;
        background-color: #0588d8;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .NavbarMain .leftSide #hidden .links {
        margin: 10px;
        font-size: 25px;
    }

    .logOut {
        font-size: 25px;
        align-items: center;
    }
}


